*{
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0px;
    
  }

header {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding: 1rem;
}

.logo_ambrosini {
    height: 10vh;
    width: auto;
}

li {
    display: inline;
    padding: 1rem;
}

a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
}

main.inicio {
    background: url(img/cozy-studio-apartment-with-bedroom-living-space.jpg) lightgray 50% / cover no-repeat;
    height: 90vh;
}

main.servicios {
    background: url(img/low-angle-shot-facade-white-modern-building-blue-clear-sky.jpg) lightgray 50% / cover no-repeat;
    min-height: 90vh;
}

main.nosotros {
    background: url(img/black-white-exterior-building.jpg) lightgray 50% / cover no-repeat;
    min-height: 90vh;
}

main.contacto {
    background: url(img/close-up-two-buildings-facade.jpg) lightgray 50% / cover no-repeat;
    min-height: 90vh;
}

.inicioContainer {
    display: flex;
    justify-content: center;
    padding: 5rem 2rem;
}

.inicioCard {
    padding: 1rem;
    background-color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 50%;
    background-color: #cccccc;
    border-radius: 15px;
    border: solid 2px black;
}

.inicioCardContainer {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 1rem;
    background-color: #cccccc;
}

.logoAnios {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 1rem;
    width: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
  }

.fraseInicio {
    text-align: center;
    font-size: 1.5rem;
}

.serviciosContainer {
    display: flex;
    justify-content: space-around;
    padding: 5rem 2rem;
}


.serviciosCard {
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 25%;
    background-color: #cccccc;
    border-radius: 15px;
    border: solid 2px black;
}
    
.serviciosCardContainer {
    font-size: 1vw;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 0px 0px 15px 15px;
    padding: 1rem;
  }

.fotosServicios {
    width: 100%;
}

.nosotrosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 2rem;
}


.nosotrosCard {
    display: flex;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 80%;
    background-color: #cccccc;
    border-radius: 15px;
    border: solid 2px black;
}
    
.nosotrosCardContainerA {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 15px 0px 0px 15px;
    padding: 1rem;
  }

.nosotrosCardContainerB {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size:  1.5rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 0px 15px 15px 0px;
    padding: 1rem;
    background-color: #cccccc;
  }

  .fotosNosotros {
    width: 25%;
}

.contactoContainer {
    display: flex;
    justify-content: center;
    padding: 5rem 2rem;
}

.contactoCard {
    padding: 1rem;
    background-color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 50%;
    background-color: #cccccc;
    border-radius: 15px;
    border: solid 2px black;
}

.contactoCardContainer {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 1rem;
    background-color: #cccccc;
}

.maps {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 80%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
  }

.fraseContacto {
    text-align: center;
    font-size: 1.5vw;
}

footer{
    background-color: #000;
}

.copyright {
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

@media only screen and (max-width: 768px) {

    *{
        font-family: "Public Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        margin: 0px;
        
      }
    
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #000;
        padding: 1rem;
    }
    
    .logo_ambrosini {
        height: 10vh;
        width: auto;
    }
    
    li {
        display: inline;
        padding: 1rem;
    }
    
    a {
        font-size: 1.5vw;
        color: #fff;
        text-decoration: none;
    }
    
    main.inicio {
        background: url(img/cozy-studio-apartment-with-bedroom-living-space.jpg) lightgray 50% / cover no-repeat;
        height: 90vh;
    }
    
    main.servicios {
        background: url(img/low-angle-shot-facade-white-modern-building-blue-clear-sky.jpg) lightgray 50% / cover no-repeat;
        min-height: 90vh;
    }
    
    main.nosotros {
        background: url(img/black-white-exterior-building.jpg) lightgray 50% / cover no-repeat;
        min-height: 90vh;
    }
    
    main.contacto {
        background: url(img/close-up-two-buildings-facade.jpg) lightgray 50% / cover no-repeat;
        min-height: 90vh;
    }
    
    .inicioContainer {
        display: flex;
        justify-content: center;
        padding: 5rem 2rem;
    }
    
    .inicioCard {
        padding: 1rem;
        background-color: #FFF;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 50%;
        background-color: #cccccc;
        border-radius: 15px;
        border: solid 2px black;
    }
    
    .inicioCardContainer {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 15px 15px 0px 0px;
        padding: 1rem;
        background-color: #cccccc;
    }
    
    .logoAnios {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        width: 50%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
      }
    
    .fraseInicio {
        text-align: center;
        font-size: 1rem;
    }
    
    .serviciosContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0%;
    }
    
    
    .serviciosCard {
        padding: 1rem;
        margin: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 75%;
        background-color: #cccccc;
        border-radius: 15px;
        border: solid 2px black;
    }
        
    .serviciosCardContainer {
        font-size: 1rem;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 15px;
        padding: 1rem;
      }

      .fotosServicios {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        width: 75%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
    }
    
    .nosotrosContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }
    
    
    .nosotrosCard {
        display: flex;
        margin: 1rem;
        padding: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 80%;
        background-color: #cccccc;
        border-radius: 15px;
        border: solid 2px black;
    }
        
    .nosotrosCardContainerA {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 0.5rem;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 15px 0px 0px 15px;
        padding: 1rem;
      }
    
    .nosotrosCardContainerB {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 0.5rem;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 0px 15px 15px 0px;
        padding: 1rem;
        background-color: #cccccc;
      }

      .fotosNosotros {
        width: 50%;
    }
    
    .contactoContainer {
        display: flex;
        justify-content: center;
        padding: 3rem 0rem;
    }
    
    .contactoCard {
        padding: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 75%;
        background-color: #cccccc;
        border-radius: 15px;
        border: solid 2px black;
    }
    
    .contactoCardContainer {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 15px 15px 0px 0px;
        padding: 1rem;
        background-color: #cccccc;
    }
    
    .maps {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
    
    .fraseContacto {
        text-align: center;
        font-size: 1rem;
    }
    

    footer{
        background-color: #000;
    }
    
    .copyright {
        color: #fff;
        display: flex;
        justify-content: center;
        padding: 2rem;
    }

}